*
{
    margin:0;
    padding:0;
}

@font-face {
    font-family: 'ErasLight';
    src: url('elements_graphiques/font/ERASLGHT.TTF');
}

@font-face {
    font-family: 'Calibri';
    src: url('elements_graphiques/font/calibri.ttf');
}


.titre
{
    flex-basis: 70%;
    height: 175px;
    background-color: #EAE5DF;
    display: flex;
    text-align: center;
    align-items: center;
}

h1
{
    font-family: 'ErasLight', Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 10px;
}

a {
    text-decoration: none;
}

.authentification
{
    flex-basis: 30%;
    height: 175px;
    background-color: #8A5D1D;
    text-align: center;
}

.panier
{
    font-family: 'Calibri', Arial, Helvetica, sans-serif;
    font-weight: bold;

    flex-basis: 30%;
    height: 500px;
    background-color: #861825;
}

.entetePanier
{
    display:flex;
    justify-content: center;

    padding-top : 10px;
    border-bottom: 2px solid #fff;
    
}

#panierImage
{
    height:30px;
}

#panierTexte
{
    font-size: 20px;
    color:#fff;
    font-weight: bold;
    margin-top: 10px;
}

.contenu
{
    flex-basis: 70%;
    height: 500px;
    background-color: #EAE5DF;

    display : flex;
    flex-wrap: wrap;

    overflow: scroll;
}

.affichage
{
    display: flex;
    flex-wrap: wrap;
    

    overflow: scroll;
}

.famille
{
    border : 1px solid #8A5D1D;
    background-color: #fff;

    width : 150px;
    
    margin: 15px ;
    padding: 10px;

    height : fit-content;

    display: flex;
    flex-direction: column;

    text-align: center;
}

.titreFamille
{
    font-family: 'Calibri', Arial, Helvetica, sans-serif;
    color:#000;
    font-size: 18px;

    font-weight: lighter;

    margin-top : 0px;

}

.article
{
    border : 1px solid #8A5D1D;
    background-color: #fff;

    width : 370px;
    
    font-family: 'Calibri', Arial, Helvetica, sans-serif;

    margin: 5px ;
    padding : 10px;

    height : fit-content;

    display: flex;
}

.titreArticle
{
    font-family: 'Calibri', Arial, Helvetica, sans-serif;
    color:#000;
    font-size: 18px;

    font-weight: lighter;

    margin-top : 5px;
}

.detail
{
    color:#777;
    font-size: 18px;
}

.prix
{
    color:#861825;
    font-size: 15px;

    font-weight: bold;

    margin : 20px 0px 20px 0px;
}

.description
{
    display: flex;

    flex-direction: column;
}

.commande
{
    display: flex;

    flex-direction: row;

    justify-content: space-around;
    align-items: center;
}

.imageArticle
{
    height : 75px;

    margin:20px 2px 20px 2px;
}

.pied
{
    flex-basis: 100%;
    height: 50px;
    background-color:#8A5D1D;
}

#textPiedDePage
{
    font-family: 'Calibri', Arial, Helvetica, sans-serif;
    text-align: center;
    color:#fff;
}

#panierVideTexte
{
    font-family: 'Calibri', Arial, Helvetica, sans-serif; /*ça marche pas*/
    color:#777;
    font-weight: bold;

    margin : 20px 0px 20px 0px;
}

.nom_article
{
    text-align: left;
    color:#777;
}

.prix_article
{
    text-align: right;
    color:#fff;
}

.panierTotal
{
    border-top: 2px solid #fff;
    color:#fff;
    text-align: right;
}

.panierBouton
{
    display: flex;
}

.page
{
    height: 100%;
    
    flex-wrap: wrap;
    margin:auto;
}

@media screen and (min-width:1200px)
{
    body
    {
        background-color: #474747;
    }

    .page
    {
        display:flex;
        width: 1200px;
    }


}

@media screen and (min-width:750px) and (max-width:1200px)
{
    .page
    {
        display:flex;
        width : 100%;
    }
}

@media screen and (max-width:750px) and (min-width:576px)
{
    .pied
    {
        display:none;
    }

    .page
    {
        display:block;
    }
}

@media screen and (max-width:576px)
{
    .titre
    {
        font-size: 26px;
    }
    
    .logo
    {
        width: 100px;
    }

    .pied
    {
        display:none;
    }

    .page
    {
        display:block;
    }
}

.myButton
{
    font-family:'Eras';
    margin:5px 10px 5px 10px;
    -moz-box-shadow: 0px 10px 9px -7px #404242;
    -webkit-box-shadow: 0px 10px 9px -7px #404242;
    box-shadow: 0px 10px 9px -7px #404242;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5e7e), color-stop(1, #780000));
    background:-moz-linear-gradient(top, #ff5e7e 5%, #780000 100%);
    background:-webkit-linear-gradient(top, #ff5e7e 5%, #780000 100%);
    background:-o-linear-gradient(top, #ff5e7e 5%, #780000 100%);
    background:-ms-linear-gradient(top, #ff5e7e 5%, #780000 100%);
    background:linear-gradient(to bottom, #ff5e7e 5%, #780000 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5e7e', endColorstr='#780000',GradientType=0);
    background-color:#ff5e7e;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    border-radius:40px;
    border-style: none;
    display:inline-block;
    cursor:pointer;
    color:#fff;
    font-family:Trebuchet MS;
    font-size:14px;
    padding:3px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #4d484d;
}

.myButton:hover
{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #780000), color-stop(1, #ff5e7e));
    background:-moz-linear-gradient(top, #780000 5%, #ff5e7e 100%);
    background:-webkit-linear-gradient(top, #780000 5%, #ff5e7e 100%);
    background:-o-linear-gradient(top, #780000 5%, #ff5e7e 100%);
    background:-ms-linear-gradient(top, #780000 5%, #ff5e7e 100%);
    background:linear-gradient(to bottom, #780000 5%, #ff5e7e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#780000', endColorstr='#ff5e7e',GradientType=0);
    background-color:#780000;
}
.myButton:active
{
    position:relative;
    top:1px;
}